.product {
    margin: 50px 0;
    animation-name: showProduct;
    animation-duration: 2s;
}

@keyframes showProduct {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.product p {
    margin: 26px 0 17px;
}

.product .price {
    color: #000CFF;
}

.product button {
    margin-top: 15px;
}