.content-shop {
    margin-top: 65px;
}

.content-shop .header-shop h1 {
    font-size: 77px;
}

.content-shop .header-content-shop {
    display: flex;
}

.content-shop .header-content-shop p {
    font-size: 22px;
}
.content-shop .header-content-shop .dropdown {
    display: flex;
    justify-content: end;
}
.content-shop .header-content-shop i {
    margin: 10px;
}

.content-shop .header-content-shop span {
    margin: 12px 12px 12px 0;
}

.content-shop .header-content-shop button {
    width: 255px;
    height: 60px;
    font-size: 22px;
}

.content-shop .header-content-shop button:after {
    display: none;
}


.content-shop .header-content-shop button i {
    padding-left: 10px;
}

.content-shop .header-content-shop button:focus {
    background: #000CFF;
    box-shadow: none !important;
}

.pagination {
    justify-content: center;
}

.pagination li.page-item {
    margin: 0 5px;
}

.pagination button {
    background: none;
    border: 0;
    padding: 0;
}
